.secciones, .contacto {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: nowrap; }

.mouse {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .mouse:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .mouse a {
    color: #32ff2f;
    text-decoration-line: none; }

.teclado {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .teclado:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .teclado a {
    color: #32ff2f;
    text-decoration-line: none; }

.joystick {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .joystick:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .joystick a {
    color: #32ff2f;
    text-decoration-line: none; }

.monitor {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .monitor:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .monitor a {
    color: #32ff2f;
    text-decoration-line: none; }

.camaras {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .camaras:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .camaras a {
    color: #32ff2f;
    text-decoration-line: none; }

@media only screen and (max-width: 768px) {
  .secciones, .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; } }

* {
  margin: 5px;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #32ff2f; }

body {
  background-color: #08085c; }

.nombre-de-pagina {
  background-color: #08085c;
  border-width: 10px;
  font-size: 50px;
  border-radius: 10px; }
  .nombre-de-pagina img {
    height: 200px;
    width: auto; }

.subtitulo {
  text-decoration: underline;
  font-size: 30px; }

.contacto:hover {
  transform: translate(1px, 2px);
  transition: 1s; }

.contacto a {
  line-height: 75px;
  font-size: 30px;
  color: #32ff2f;
  text-decoration-line: none; }

.facebook:hover {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .facebook:hover:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .facebook:hover a {
    color: #32ff2f;
    text-decoration-line: none; }

.instagram:hover {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .instagram:hover:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .instagram:hover a {
    color: #32ff2f;
    text-decoration-line: none; }

.twitter:hover {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .twitter:hover:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .twitter:hover a {
    color: #32ff2f;
    text-decoration-line: none; }

.tiktok:hover {
  border-style: outset;
  border-color: #32ff2f;
  line-height: 75px;
  font-size: 30px; }
  .tiktok:hover:hover {
    color: #2b479a;
    transform: translate(1px, 2px);
    transition: 1s;
    background-color: #2b479a; }
  .tiktok:hover a {
    color: #32ff2f;
    text-decoration-line: none; }

.subtitulo {
  font-size: 30px; }

@media only screen and (max-width: 768px) {
  .contacto {
    border-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; } }

.opciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .opciones .opc {
    border-style: dotted;
    background-color: #2b479a;
    padding: 0px;
    margin: 10px;
    border-style: outset;
    border-color: #32ff2f;
    text-align: center; }
    .opciones .opc img {
      width: 300px; }

.nombre-de-pagina {
  border-width: 10px;
  font-size: 50px; }
  .nombre-de-pagina img {
    height: 350px;
    width: auto; }
  .nombre-de-pagina div a {
    color: #32ff2f;
    text-decoration-line: none;
    border-style: none;
    border-style: outset;
    border-color: #32ff2f;
    line-height: 75px;
    font-size: 30px; }
    .nombre-de-pagina div a:hover {
      transition: 1s;
      background-color: #2b479a; }

.inicio:hover {
  transform: translate(2px, 3px);
  transition: 1s; }

@media only screen and (max-width: 768px) {
  .opciones {
    background-color: none;
    border-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; } }
