$colorpag: linear-gradient(rgb(131, 45, 137), rgb(72, 22, 146));

*{
    margin: 5px;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

body{
    background-image: $colorpag;
}