.contacto{
    display: flex;
    justify-content: center;
    border-style: outset;
    border-color: black;
    list-style: none;
    flex-wrap: nowrap;
        li a{
        color: black;
        background-color: rgb(55, 50, 144);
        text-decoration-line: none;
        border-style: none;
        border-style: outset;
        border-color: black;
        line-height: 75px;
        font-size: 30px;
        &:hover{
            transition: 1s;
            background-color: rgb(129, 45, 137);
        }
    }
}

.facebook:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

.instagram:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.twitter:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.tiktok:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

@media only screen and(max-width: 768px){
    .contacto{
        border-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}