$coloruno: rgb(43, 71, 154);
$colordos: rgb(129, 45, 137);
$colorletra: rgb(0, 0, 0);
$colortres: rgb(28, 43, 105);
$subtsize: 30px;

.contacto{
    @extend .secciones;
    &:hover{
        transform: translate(1px, 1px);
        transition: 1s;
    }
    & a{
        line-height: 75px;
        font-size: 30px;
        color: $colorletra;
        text-decoration-line:none;
    }
}

.facebook:hover{
    @include seccion($coloruno);
}
.instagram:hover{
    @include seccion($coloruno);
}
.twitter:hover{
    @include seccion($coloruno);
}
.tiktok:hover{
    @include seccion($coloruno);
}

.subtitulo{
    font-size: $subtsize;
}

footer{
    margin: 20px;
    padding: 20px;
    background-color: $colortres;
    border-style:solid;
    border-color: $colorcuatro;
}
@media only screen and(max-width: 768px){
    .contacto{
        border-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}