$coloruno: rgb(55, 50, 144);
$colordos: rgb(129, 45, 137);
$subtsize: 30px;

.nombre-de-pagina {
    border-style: dotted;
    border-color: rgb(129, 45, 137);
    border-width: 10px;
    font-size: 50px;
    background-color:rgb(129, 45, 137) ;
    img{
        height: 200px;
        width: auto;
    }
}

.subtitulo{
    text-decoration: underline;
    font-size: $subtsize;
}