$coloruno: rgb(43, 71, 154);
$colordos: rgb(129, 45, 137);
$colorletra: rgb(50, 255, 47);

$ColoresFondo:(
    fondo1: rgb(129, 45, 137),
    fondo2: rgb(43, 71, 154),
    fondo3: rgb(113, 60, 6),
    fondo4: blue
);

.opciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .opc{
        border-style: dotted;
        background-color:$coloruno;
        padding: 0px;
        margin: 10px;
        border-style: outset;
        border-color: $colorletra;
        text-align: center;
        img{
            width: 300px;
        }
    }
}
.nombre-de-pagina {
    border-width: 10px;
    font-size: 50px;
    img{
        height: 350px;
        width: auto;
    }
    div a{
        color: $colorletra;
        text-decoration-line: none;
        border-style: none;
        border-style: outset;
        border-color: $colorletra;
        line-height: 75px;
        font-size: 30px;
        &:hover{
            transition: 1s;
            background-color: $coloruno;
        }
    }
}

.inicio:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

@media only screen and(max-width: 768px){
    .opciones{
        background-color: none;
        border-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}