$coloruno: rgb(43, 71, 154);
$colordos: rgb(129, 45, 137);
$colorletra: rgb(0, 0, 0);
$colorcinco: rgb(51, 249, 1);

.secciones{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: nowrap;
}

@mixin seccion($periferico) {
    border-style: outset;
    border-color: $colorletra;
    line-height: 75px;
    font-size: 30px;
    &:hover{
        color: $periferico;
        transform: translate(1px, 2px);
        transition: 1s;
        background-color: $colorcinco;
    }
    & a{
        color: $colorletra;
        text-decoration-line:none;
    }
}

.mouse{
    @include seccion($coloruno);
}
.teclado{
    @include seccion($coloruno);
}
.joystick{
    @include seccion($coloruno);
}
.monitor{
    @include seccion($coloruno);
}
.camaras{
    @include seccion($coloruno);
}



@media only screen and(max-width: 768px){
    .secciones{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}