/* SECCION PRINCIPAL */
*{
    margin: 5px;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding-left: 20%;
    padding-right: 20%;
    background-image: linear-gradient(rgb(55, 50, 144), rgb(129, 45, 137));
}
.nombre-de-pagina {
    border-style:groove;
    border-width: 10px;
    border-color: rgb(55, 50, 144);
    font-stretch: extra-condensed;
    text-align: center;
    font-size: 50px;
    background-color:rgb(129, 45, 137) ;
    margin-top: 1;
    margin-bottom: 1;

}

.imagen-principal {
    width: 100%;
    margin: auto;
}

.subtitulo-principal{
    text-decoration:underline;
    text-align: center;
}

img{
    max-width: 400px;
    max-height: 400px;
}

.secciones{
    display: flex;
    justify-content: center;
    border-style: outset;
    border-color: black;
    list-style: none;
    flex-wrap: nowrap;
}
.secciones li a{  
    color: black;
    background-color: rgb(55, 50, 144);
    text-decoration-line: none;
    border-style: none;
    border-style: outset;
    border-color: black;
    line-height: 75px;
    font-size: 30px;
}

.secciones li a:hover{
    transition: 1s;
    background-color: rgb(129, 45, 137);
}

.mouse:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

.teclado:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.joystick:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.monitor:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

.camaras:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

.contacto{
    display: flex;
    justify-content: center;
    border-style: outset;
    border-color: black;
    list-style: none;
    flex-wrap: nowrap;
}

.contacto li a{  
    color: black;
    background-color: rgb(55, 50, 144);
    text-decoration-line: none;
    border-style: none;
    border-style: outset;
    border-color: black;
    line-height: 75px;
    font-size: 30px;
}

.contacto li a:hover{
    transition: 1s;
    background-color: rgb(129, 45, 137);
}

.facebook:hover{
    transform: translate(2px,3px);
    transition: 1s;
}

.instagram:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.twitter:hover{
    transform: translate(2px,3px);
    transition: 1s;
}
.tiktok:hover{
    transform: translate(2px,3px);
    transition: 1s;
}


/* SECCIONES */

.encabezado{
    border-style:groove;
    border-width: 10px;
    border-color: rgb(55, 50, 144);
    font-stretch: extra-condensed;
    text-align: center;
    font-size: 50px;
    background-color:rgb(129, 45, 137) ;
    margin-top: 1;
    margin-bottom: 1;
}

.listaDeMouse{
    background-image: linear-gradient(rgb(129, 45, 137), rgb(55, 50, 144));
    border-style: outset;
    border-color: black;
}

/*GRID PARA PC*/

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "encabezado encabezado"
    "imagen0 imagen0"
    "listaDeMouse listaDeMouse"
    "img1 img2"
    "img3 img4"
    "img5 img6"
    "info info";
}

.encabezado{grid-area: encabezado;}
.volver{grid-area: volver;}
.imagen0{grid-area: imagen0;}
.listaDeMouse{grid-area: listaDeMouse;}
.img1{grid-area:img1; display: flex;}
.img2{grid-area:img2; display: flex;}
.img3{grid-area:img3; display: flex;}
.img4{grid-area:img4; display: flex;}
.img5{grid-area:img5; display: flex;}
.img6{grid-area:img6; display: flex;}
.info{grid-area:info;}

/*GRID PARA CELULAR*/

@media only screen and (max-width: 768px){
    .grid-container{
        background-color: blue;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "encabezado" 
        "img1" 
        "img2"
        "img3" 
        "img4"
        "img5" 
        "img6"
        "info";
    }
}

.encabezado{grid-area: encabezado;}
.img1{grid-area: img1;}
.img2{grid-area: img2;}
.img3{grid-area: img3;}
.img4{grid-area: img4;}
.img5{grid-area: img5;}
.img6{grid-area: img6;}
.contacto{grid-area: info;}